# Compiled bytecode
/target/

# Dependencies
/lib/
/bin/
/build/

# IDE files
/.idea/
/.vscode/
*.iml
*.ipr
*.iws

# Logs
/logs/

# Gradle specific
.gradle/

# Maven specific
/.mvn/
*.jar

# OS-specific files
.DS_Store
Thumbs.db

# Spring Boot specific
#/application.properties
#/application.yml
